body {
    background-image: url('../media/project.gif');
    background-color:black;
    position: center;
}

#websitetitle {
    font-family: 'Calisto MT';
    color: #bc8021;
    font-size: 5em;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}

#textfile{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 1.5em;
    font-family:Rage
}
a hover{
    color:white;
}
a{
    color:white;
}

#foot{
    text-align: center;
}

#gamemenu {
    background-color: #0e341263;
    position:center;
    font-family: Impact;
    width: 100%;
    height: auto;
    padding: 1px;
    box-shadow: 0px 0px 8px 2px #805120;
}

.games {
    width: 80%;
    background-color: #6a5641;
    text-align: center;
    padding: 6%;
    font-size: 1.5em;
    margin: 3%;
    border-style: solid;
    border-width: 3px;
    border-color: #303c3f;
}
 .games:hover {
    background-color: #303c3f;
    border-style: solid;
    border-width: 3px;
    border-color: #808080;
    color: #46794bff;
}
